

@media only screen and (max-width: 767px) {
    .rubik-head {
        font-family: "Rubik", serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        color: #2A283B;
    }
      
    .rubik-paragraaf {
        font-family: "Rubik", serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        color: #2A283B;
    }
      
    .rubik-button {
        font-family: "Rubik", serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }

    .button-header{
        margin-top: 20px;
        width: 150px;
    }
    .header {
        flex-direction: column; 
        align-items: center;
    }
    .p-header {
        margin: 0;
    }
    .img-header {
        height: 250px;
        margin: 0;
        margin-top: 20px;
    }

    
}
/*fonts*/
.rubik-head {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-size: 3.6em;
    font-weight: 800;
    font-style: normal;
    color: #2A283B;
}
  
.rubik-paragraaf {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #2A283B;
}
  
.rubik-button {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}



/*CSS*/
.logo {
    width: 250px;
}

.header {
    margin-top: 50px;
}

.button-header {
    background-color: #3DD2CC;
    color: white;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.button-header:hover {
    background-color: #3DD2CC;
    color: white;
}

.img-header {
    width: 500px;
    border-radius: 25px;
    margin-left: 0px;
}

.header-img {
    display: flex;
    justify-content: center;
}

.skate-park-img{
    width: 450px;
    border-radius: 25px;
    margin-left: 0px;
}

.content{
    margin-top: 200px;
}