

@media only screen and (max-width: 767px) {
    .rubik-head {
        font-size: 2.5em !important;
    }

    .rubik-paragraaf {
        font-size: 0.9em !important;
    }
    .button-header{
        margin-top: 20px;
        width: 150px;
    }
    .header {
        flex-direction: column; 
        align-items: center;
    }
    .p-header {
        margin: 0;
    }
    .img-header {
        height: 100%;
        margin: 0;
        margin-top: 20px;
    }

    .header-img {
        display: flex;
        justify-content: center;
    }
    
    .content-img{
        display: flex;
        justify-content: center; 
    }
    .skate-park-img{
        height: 100%;
        width: 100% !important;
        border-radius: 25px;
        margin-left: 0px;
    }

    .content-p-last{
        padding: 0em 0em;
    }
    
}


/*fonts*/
.rubik-head {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-size: 3.6em;
    font-weight: 800;
    font-style: normal;
    color: #2A283B;
}
  
.rubik-paragraaf {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #2A283B;
}
  
.rubik-button {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/*CSS*/
.logo {
    width: 250px;
}

.header {
    margin-top: 50px;
}

.button-header {
    background-color: #3DD2CC;
    color: white;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.button-header:hover {
    background-color: #3DD2CC;
    color: white;
}

/*content*/
.button-content {
    background-color: #3DD2CC;
    color: white;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.button-content:hover {
    background-color: #3DD2CC;
    color: white;
}

.img-header {
    width: 100%;
    border-radius: 25px;
    margin-left: 0px;
}

.skate-park-img{
    width: 90%;
    border-radius: 25px;
    margin-left: 0px;
}

.content{
    margin-top: 200px;
}


/*laatste stuk content*/
.content-last{
    margin-top: 350px;
    margin-bottom: 350px;
}

.button-content-last {
    background-color: #3DD2CC;
    color: white;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.button-content-last:hover {
    background-color: #3DD2CC;
    color: white;
}

.content-p-last{
    padding: 0em ;
}

/*accordion*/
.accordion-img{
    border-radius: 25px;
    height: auto;
    width: 300px;
}

.doelen{
    margin-bottom: 50px;
}

.button-accordion {
    background-color: #3DD2CC;
    color: white;
    border-radius: 25px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 5px;
}

.button-accordion:hover {
    background-color: #3DD2CC;
    color: white;
}

.rubik-head-footer {
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #FFFF;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2A283B;
    color: white;
    padding: 20px 0;
    border-radius: 20px;
    margin-top: 80px;
}

.footer-sections {
    display: flex;
    justify-content: space-around;
    width: 80%;
    text-align: center;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column h6 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column a {
    color: white;
    text-decoration: none;
}

.footer-column p {
    margin: 5px 0;
    font-size: 14px;
}

.socials-container {
    display: flex;
    gap: 15px; /* Voeg ruimte toe tussen de socials */
}

.socials-container a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}